# Auto detect text files and perform LF normalization
* text=auto

# Export-ignore (excluded from dist archives)
/.github        export-ignore
/tests          export-ignore
/coverage-report export-ignore
/bin            export-ignore
/.editorconfig  export-ignore
/.gitattributes export-ignore
/.gitignore     export-ignore
/phpunit.xml    export-ignore
/Dockerfile     export-ignore
/check-classes.php export-ignore
/parse-coverage.php export-ignore
/parse-single-cov.php export-ignore
/coverage-report.txt export-ignore
